filebeat.inputs:
  - type: filestream
    id: Sys-logs
    paths:
      - /var/log/syslog
    fields:
      type: system


{% if kafka_service_status.status.ActiveState == "active" %}
  - type: filestream
    id: kafka-server
    paths:
      - "{{ kafka_log }}"
    fields:
      type: kafka
{% endif %}

{% if zookeeper_service_status.status.ActiveState == "active" %}
  - type: filestream
    id: zookeeper
    paths:
      - "{{ zookeeper_log }}"
    fields:
      type: kafka
{% endif %}

{% if connect_service_status.status.ActiveState == "active" %}
  - type: filestream
    id: connect-server
    paths:
      - "{{ connect_log }}"
    fields:
      type: kafka
{% endif %}

{% if control_center_service_status.status.ActiveState == "active" %}
  - type: filestream
    id: control-center-server
    paths:
      - "{{ control-center_log }}"
    fields:
      type: kafka
{% endif %}


output.logstash:
  hosts: ["localhost:5044"]


