filebeat.inputs:
  - type: filestream
    id: Sys-logs
    paths:
      - /var/log/syslog
    fields:
      type: system


  - type: filestream
    id: kafka-server
    paths:
      - "{{ kafka_log }}"
    fields:
      type: kafka
    when: current_hostname.stdout in groups['kafka_broker']

  - type: filestream
    id: zookeeper
    paths:
      - "{{ zookeeper_log }}"
    fields:
      type: kafka
    when: current_hostname.stdout in groups['zookeeper']


output.logstash:
  hosts: ["{{ logstash_ip }}:{{ logstash_port }}"]
