filebeat.inputs:
  - type: filestream
    id: Sys-logs
    paths:
      - /var/log/syslog
    fields:
      type: system

{% if current_hostname in groups['kafka_broker'] %}
  - type: filestream
    id: kafka-server
    paths:
      - "{{ kafka_broker_log_path }}"
    fields:
      type: kafka
{% endif %}

{% if current_hostname in groups['zookeeper'] %}
  - type: filestream
    id: zookeeper
    paths:
      - "{{ zookeeper_log_path }}"
    fields:
      type: kafka
{% endif %}

output.logstash:
  hosts: ["{{ logstash_ip }}:{{ logstash_port }}"]
